@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mrs+Saint+Delafield&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../pacote-projeto-d010/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/*
#127369
#10403B
#8AA6A3
#4C5958
#BFBFBF
*/

:root {
    --verde_escuro: #10403B;
    --verde_medio: #127369;
    --verde_claro: #8AA6A3;
    --cinza_claro:#BFBFBF;
    --cinza_escuro: #4C5958;

    --fonte_padrao: Arial, Verdana, Helvetica, Sans-Serif;
    --fonte_destaque:  'Bebas Neue' , 'cursive';
    --fonte_android: 'Android', 'cursive';

}

*{
    padding: 0px;
    margin: 0px;
    font-family: var(--fonte_padrao);
    
}

header{
    background-image: linear-gradient(to bottom, var(--verde_medio), var(--verde_escuro));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    display: block;
    box-shadow: 1px 1px 1px black;
    
}

#prim{
    color: white;
    font-family: var(--fonte_destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.486);
}

header > p{
    color:white;
    max-width: 500px;
    display: block;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.486);
    padding-bottom: 30px;
}

nav a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    transition-duration: 0.5s;
    padding: 10px ;
}

nav a:hover{
    background-image: linear-gradient(to bottom, rgb(80, 131, 118), rgb(105, 167, 157));
    color: #08201e;
}

nav {
    background-image: linear-gradient(to bottom, #002e2a, var(--verde_escuro));
    padding: 10px;
    text-align: center;
}

body{
    background-color: var(--cinza_claro);
}

a.externo::after{
    content: '\1F517';
}

main h1{
    font-family: var(--fonte_destaque);
    color: var(--verde_escuro);
    background-image: linear-gradient(to right, rgba(160, 214, 205, 0.726), transparent);
    text-indent: 8px;
    border-radius: 7px;
    font-weight: normal;
}

main h2{
    font-family: var(--fonte_destaque);
    color: var(--verde_escuro);
    font-size: 1.5em;
    background-image: linear-gradient(to right, rgba(160, 214, 205, 0.726), transparent);
    text-indent: 8px;
    border-radius: 7px;
    font-weight: normal;
}

main {
    background-color: white;
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.493);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    

}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 2em;

}

main strong{
    color: #000000;
    font-weight: bolder;
}

main a{
    background-color: #9fd1cc;
    text-decoration: none;
    color: rgb(0, 34, 28);
    font-weight: bold;
    padding: 0.5px 6px;
    border-radius: 4px;
}

main a:hover{
    background-color: #0d3330;
    color: rgb(178, 231, 224);
}

main img{
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
}

/* Quando a tela for menor que 700px */
@media (max-width: 700px){
    main img{
        width: 80%; /* ou 70% ou 60% */
    }
}

main img.pequena{
    width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: var(--verde_escuro);
    margin: 10px;
    padding: 30px;
    max-width: 700px;
    justify-content: center;
    margin: auto;
    display: flex;
    border-radius: 15px;
}

div.video > iframe {
    justify-content: center;
    margin: auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.479);
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    
}

aside{
    background-color: #bfe2dd;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.37);
    margin: 25px;
}

aside h3{
    color: white;
    background-color: var(--verde_escuro);
    margin: -25px -25px 0px -25px;
    border-radius: 18px 18px 0px 0px;
    padding: 12px;
    text-shadow: 1px 1px 1px #000000;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.342);
}

aside ul{
    list-style-type: '\2714\00A\00A0';
    text-decoration: none;
    padding: 10px;
    columns: 2;
    list-style-position: inside;
}

aside abbr{
    text-decoration: none;
    background-color: #93c5c0;
    border-radius: 5px;
    padding: 0px 6px;
    line-height: 1.3;
}

footer{
    background-color: rgb(32, 32, 32);
    color: white;
    height: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.466);

    }

