@charset "UTF-8";

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to right, #9AEBA3, #DAFDBA);
}
main {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 15px;
    margin: auto;
    box-shadow: 4px 4px 20px #486e4d80;
}
h1 {
    color: #45C4B0;
    text-align: center;
    text-shadow: 1px 1px 2px #0b3d53c2;
}
h2 {
    color: #012030;
}